@model Finale.UI.Models.DTO.UserVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/User/Views/User/Shared/_userLayout.cshtml";
}

<label>Username:</label>
<br />
<p>@Model.Username</p>
<br />
<br />
<label>First Name:</label>
<br />
<p>@Model.FirstName</p>
<br />
<label>Last Name:</label>
<br />
<p>@Model.LastName</p>
<br />
<label>Address</label>
<br />
<p>@Model.Address</p>
<br />
<br />
<a href="/user/panel/edit-details">Edit Details</a>

