@model Finale.UI.Models.DTO.UserVM
@{
    ViewBag.Title = "updateDetails";
    Layout = "~/Areas/User/Views/User/Shared/_userLayout.cshtml";

}

<form method="post" action="/user/panel/edit-details">
    <label>Username</label>
    <br />
    <input type="text" name="Username" value="@Model.Username"/>
    <br />
    <label>First Name</label>
    <br />
    <input type="text" name="FirstName" value="@Model.FirstName" />
    <br />
    <label>Last Name</label>
    <br />
    <input type="text" name="LastName" value="@Model.LastName"/>
    <br />
    <label>Address</label>
    <br />
    <input type="text" name="Address" value="@Model.Address"/>
    <br />
    <input type="submit" />
</form>