@model List<Finale.UI.Areas.Admin.Models.CategoryDTO>
@{
    ViewBag.Title = "addProduct";
    Layout = "~/Areas/Admin/Views/Product/Shared/_productLayout.cshtml";
}

<form method="post" action="/admin/products/new">
    <label>Product Name</label>
    <br />
    <input type="text" name="Name"/>
    <br />
    <label>Description</label>
    <br />
    <input type="text" name="Description"/>
    <br />
    <label>Price</label>
    <br />
    <input type="text" name="Price"/>
    <br />
    <label>Category Name</label>
    <br />
    <input list="categories" name="CategoryName" />
    <datalist id="categories">
        @foreach(var item in Model)
        {
            <option value="@item.Name"/>
        }
    </datalist>
    <br />
    <input type="submit" />
</form>

