@model Finale.UI.Areas.Admin.Models.VM.Category_Products_VM
@{
    ViewBag.Title = "productByCategory";
    Layout = "~/Areas/Admin/Views/Product/Shared/_productLayout.cshtml";
}

<ul style="padding:5px">
@foreach (var item in Model.Products)
{

    <li style="list-style:none; margin-top:15px;">
        <div>
            <div style="width:75px; display:inline-block"><a href="/admin/products/info/@item.Name">@item.Name</a></div>
            <a href="/admin/products/@item.Name/update" style="margin-left: 155px;">update</a>
            <a href="/admin/products/@item.Name/activate" style="margin-left: 15px;">activate</a>
            <a href="/admin/products/@item.Name/deactivate" style="margin-left: 15px;">deactivate</a>
            <span style="display:inline; margin-left:15px;">@item.isActive.ToString()</span>
        </div>
    </li>

}
</ul>


@section CategoryList
    {
    <li>
        <button onclick="show()">Categories</button>
        <ul class="dropdown-content" id="dropdown-content">
            @foreach (var item in Model.Categories)
            {
                <li><a href="/admin/products/list/@item.Name">@item.Name</a></li>
            }
        </ul>
    </li>
    <li>
        <button onclick="showactivepassive()">Active-Disabled</button>
        <ul class="dropdown-content" id="active-passive">
           <li><a href="/admin/products/list/@ViewBag.CategoryName/true">Active</a></li>
           <li><a href="/admin/products/list/@ViewBag.CategoryName/false">Disabled</a></li>
           <li><a href="/admin/products/list/@ViewBag.CategoryName">All</a></li>
        </ul>
    </li>
 
}

@section Css{
    <style>
        .show {
            display: block !important;
        }

        .dropdown-content li {
            list-style: none;
        }

            .dropdown-content li a {
                color: yellow !important;
                text-decoration: none;
            }

                .dropdown-content li a:hover {
                    background-color: darkgrey;
                }

        .dropdown-content {
            width: 100px;
            min-height: 120px;
            background-color: #232f3e;
            display: none;
        }
    </style>
}

@section Scripts{
    <script>
        var dropdown = document.getElementById("dropdown-content");
        var activepassive = document.getElementById("active-passive")
        function show() {
            dropdown.classList.toggle("show");
        }
        function showactivepassive() {
            activepassive.classList.toggle("show");
        }
    </script>

}