@model List<Finale.UI.Areas.Admin.Models.CategoryDTO>

@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Admin/Views/Product/Shared/_productLayout.cshtml";
}

hello world

@section CategoryList
    {
    <li>
        <button onclick="show()">Categories</button>
        <ul id="dropdown-content">
            @foreach(var item in Model)
            {
                <li><a href="/admin/products/list/@item.Name">@item.Name</a></li>
            }
        </ul>
    </li>
    }

@section Css{
    <style>
        .show{
            display:block !important;
        }
        #dropdown-content li {
            list-style:none;
        }
        #dropdown-content li a{
            color: yellow !important;
            text-decoration:none;

        }
         #dropdown-content li a:hover{
             background-color:darkgrey;
         }

        #dropdown-content{
            width:100px;
            min-height:120px;
            background-color:#232f3e;
            display:none;
        }
    </style>
    }

@section Scripts{
    <script>
        var dropdown = document.getElementById("dropdown-content");

        function show() {
            dropdown.classList.toggle("show");
        }
    </script>

    }