<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>



<body>
    <div id="container">
        <header>
            <div id="inside-nav">
                <a href="#" id="logo">Ecommerce.</a>
                <div id="search">
                    <form>
                        <input type="text" name="" value="search">
                    </form>
                </div>
                <div id="nav-list">
                    <ul>
                        <li><a href="">Departments</a></li>
                        <li><a href="">Register</a></li>
                        <li><a href="">Log In</a></li>
                        <li id="Shopping"><a href="">Shopping Cart</a></li>
                    </ul>
                </div>

                <div class="clean"></div>
            </div>
        </header>
        <div>
            @RenderBody()
        </div>


            <footer>


            </footer>
        </div>

</body>
</html>
