

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/custom.css" rel="stylesheet" />

</head>
<body>
    <div id="container">

        <header>
            <div id="header-content">
                <ul id="ul">
                    <li id="logo">Ecommerce</li>
                    <li style="padding-left:20px !important; padding-right:0px !important;" id="search">
                        <input type="search" placeholder="search">
                    </li>
                    <li style="padding:0px !important; display: inline;">
                        <input type="submit">
                    </li>

                    <li id="categories"><a href="">Categories</a></li>
                    <li id="log-in"><a href="">Log In</a></li>
                    <li id="register"><a href="">Register</a></li>

                </ul>
            </div>
        </header>


        <div id="content">
            @RenderBody()
        </div>

        <footer>
            <div id="footer-content">
                Hello world
            </div>
        </footer>

    </div>
</body>
</html>
