
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<form method="post" action="/account/login">
    <label>Username</label>
    <br />
    <input type="text" name="Username" />
    <br />
    <label>Password</label>
    <br />
    <input type="password" name="Password" />
    <br />
    <input type="submit" />

</form>

