
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}


<div style="margin:auto;">
    <form method="post" action="/account/register">
        <label>Username</label>
        <br />
        <input type="text" name="Username"/>
        <br />
        <label>Password</label>
        <br />
        <input type="password" name="Password"/>
        <br />
        <label>First Name</label>
        <br />
        <input type="text" name="FirstName"/>
        <br />
        <label>Last Name</label>
        <br />
        <input type="text" name="LastName" />
        <br />
        <label>Address</label>
        <br />
        <input type="text" name="Address" />
        <br />
        <input type="submit" />

    </form>
</div>

