
        #container{
            width : 1020px;
            margin: auto
        }

        header{
            padding : 0px;
            background-color:#232f3e;

        }

        #header-content{
            padding: 10px;
            padding-top : 5px !important;

        }



        #ul li{
            padding: 7px;
            list-style : none;
            display: inline;
            
        }
        #ul li a{
            color:white;
            text-decoration: none;
            font-size: 20px;
        }

        #ul li a:hover{
            background-color:darkgray;
        }

        #ul li#logo{
            color:white;
            font-weight:bolder;
            font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
            font-size: 28px;
            letter-spacing: -.075em;
        }

        input[type="search"]{
            height: 23px;
            width: 250px;
            display:inline;
            
        }

        li#categories{
            padding-left:130px;
        }

        div#content{
            min-height:700px;
        }

        footer{
            background-color:232f3e;
        }
  