@model Finale.UI.Areas.Admin.Models.VM.Category_Products_VM


<ul style="padding:5px">
    @if(Model.Products != null) { 
    foreach (var item in Model.Products)
    {

        <li style="list-style:none; margin-top:15px;">
            <div>
                <div style="width:75px; display:inline-block"><a href="admin/categories/info/@item.Name">@item.Name</a></div>
                <a href="@item.Name/update" style="margin-left: 155px;">update</a>
                <a href="@item.Name/activate" style="margin-left: 15px;">activate</a>
                <a href="@item.Name/deactivate" style="margin-left: 15px;">deactivate</a>
                <span style="display:inline; margin-left:15px;"> Active</span>
            </div>
        </li>

        }
    }else
    {
        <li>hello world</li>
    }
</ul>
 