<div id="category-dropdown">
    <div id="category-dropdown-link">
        <a href="#" onclick="categoryShow()">Shop By Category  <img src="~/content/img/down-arrow.gif" /></a>
    </div>
    <ul id="category-dropdown-content">
        <li>dsadsa</li>
        <li>dsadsa</li>
        <li>dsadsad</li>  <!-- this will be a foreach loop-->
    </ul>
</div>