<div id="register">
    <a href="#"  onclick="showRegister()"> Register &nbsp <img src="content/img/down-arrow.gif" alt=""></a>
    <div id="register-modal">
        <div id="register-modal-content">
            <div id="register-cancel-image">
                <a href="#" onclick="showRegister()"><img src="content/img/cancel.png" alt=""></a>
            </div>
            <div id="register-form">
                <form class="form-group">
                    <div>
                        <label>Username</label>
                        <br>
                        <input id="register-username" class="form-control" type="text">
                    </div>
                    <br>
                    <div>
                        <label>Password</label>
                        <br>
                        <input id="register-password" class="form-control" type="password">
                    </div>
                    <div>
                        <label>First Name</label>
                        <br>
                        <input id="register-firstname" class="form-control" type="text">
                    </div>
                    <div>
                        <label>Last Name</label>
                        <br>
                        <input id="register-lastname" class="form-control" type="text">
                    </div>
                    <div>
                        <label>Address</label>
                        <br>
                        <input id="register-address" class="form-control" type="text">
                    </div>
                    <br>
                    <button id="register-button" class="btn btn-default" type="submit" value="Register"></button>
                </form>
            </div>
        </div>
        <div id="register-loader">
            <div id="register-loader-content">
            </div>
        </div>
        <div id="register-success">
            <div id="register-success-content">
                <p>You have succesfully logged in you are now being redirected to Home</p>
            </div>
        </div>
    </div>
</div> <!-- finished Sign-in -->
