<div id="search-bar">
    <form class="form-group">
        <div>
            <input id="search-text" class="form-control" type="text" name="name" placeholder="Search" />
            <input id="search-button" type="submit" class="btn btn-default" value="Search" />
        </div>
    </form>
</div>
