<div id="sign-in">
    <a href="#" id="sign-in-link" onclick="showSignIn()"> Sign-in &nbsp <img src="content/img/down-arrow.gif" alt=""></a>
    <div id="sign-in-modal">
        <div id="sign-in-modal-content">
            <div id="signin-cancel-image">
                <a href="#" onclick="showSignIn()"><img src="content/img/cancel.png" alt=""></a>
            </div>
            <div id="sign-in-form">
                <form class="form-group">
                    <div>
                        <label>Username</label>
                        <br>
                        <input class="form-control" type="text" id="username">
                    </div>
                    <br>
                    <div>
                        <label>Password</label>
                        <br>
                        <input class="form-control" type="text" id="password">
                    </div>
                    <br>
                    <button id="sign-in-button" class="btn btn-default"  value="Sign In"></button>
                </form>
            </div>
        </div>
        <div id="loader">
            <div id="loader-content">
            </div>
        </div>
        <div id="success">
            <div id="success-content">
                <p>You have succesfully logged in you are now being redirected to Home</p>
            </div>
        </div>
        
    </div>
</div> <!-- finished Sign-in -->
